body{
    font-family: 'Roboto Slab', serif;
    margin:0px
}
.beyond{
    color: #ff6600;
}
.span{
    color: chartreuse;
}
.the{
    color: rgb(197, 58, 162);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.half-width img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.button{
    color: rgb(243, 21, 169);
    background-color:rgb(92, 114, 58); 
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 700;
}
.half-heidth img{

    width: 400px;
    height: 400px;
    border-radius:100%;
    padding-left: 10%;
    padding-right: 10%;
    
}
.half-hidth{
    width: 500px;
    padding-left: 20%;
    padding-top: 5%;
    text-align: justify;
}
.bottom{
    display: flex;
}
.download-bottond{
    background-color: chartreuse;
    border-radius: 10%;
    padding: 7px 30px;
    text-decoration: none;
}
.present{
    color: indianred;
}

.present1{
    color: indianred;
    font-size: 17px;
}

.blog3{
    display: flex;
}

.div-left-sec3{
    width: 40%;
    padding-left: 60px;
    padding-right: 80px;
    box-shadow: 5px 10px 5px 10px rgb(155, 151, 150) ;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 2%;
    border-left: 5px blue solid;
    border-image: linear-gradient(blue,rgb(248, 11, 217)) ;
    border-image-slice: 1;
}

.div-right-sec3{
   width: 40%;
   padding-left: 100px;
   padding-right: 20px;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 5%;
   box-shadow: 5px 10px 5px 10px rgb(194, 191, 190) ;
   border-radius: 2%;
   border-left: 5px blue solid;
   border-image: linear-gradient(blue,rgb(248, 11, 217)) ;
   border-image-slice: 1;
    
}


